figure {
  margin: 0
}

#ed-2132430312 img {
  width: 121px;
}

#ed-2132430312 {
  flex-basis: auto;
}

@media screen and (max-width: 975px) {
  #ed-2132430312 img {
    width: 145px;
  }
}

@media screen and (max-width: 575px) {
  #ed-2132430312 img {
    width: 180px;
  }
}

#ed-2132430315 {
  flex-basis: auto;
  flex-grow: 1;
}

#ed-2132430321 {
  margin: auto 1rem auto auto;
}

#ed-2132430318>.inner {
  place-content: center flex-end;
  align-items: center;
}

#ed-2132430318 {
  flex-grow: 1;
  flex-basis: auto;
}

#ed-2132430309>.inner {
  justify-content: space-between;
  align-items: center;
}

#ed-2132430297 h3 {
  text-align: center;
}

#ed-2132430336 .map-canvas {
  height: 360px;
}

#ed-2132429955 img {
  width: 183px;
}

#ed-2132429955 {
  text-align: left;
}

#ed-2132429952 .space {
  height: 10px;
}

#ed-2132429949>.inner {
  justify-content: center;
}

#ed-2132429970 {
  flex-basis: auto;
  flex-grow: 40;
}

#ed-2132430177 a.button {
  border-radius: 20px 20px 20px 0px;
  box-shadow: rgba(222, 0, 0, 0) 2px 2px 4px 0px;
}

#ed-2132429961>.inner {
  justify-content: center;
}

#ed-2132429982 svg {
  padding: 0px;
}

#ed-2132429985 {
  flex-grow: 1;
}

#ed-2132429988 svg>* {
  stroke-width: 0px;
}

#ed-2132429988 svg {
  padding: 0px;
}

#ed-2132429991 {
  flex-grow: 1;
}

#ed-2132429994 svg {
  padding: 0px;
}

#ed-2132429997 {
  flex-grow: 1;
}

#ed-2132430153 svg>* {
  stroke-width: 0px;
}

#ed-2132430153 svg {
  padding: 0px;
}

#ed-2132430156 {
  flex-grow: 1;
}

#ed-2132430165 svg>* {
  stroke-width: 0px;
}

#ed-2132430165 svg {
  padding: 0px;
}

#ed-2132430168 {
  flex-grow: 1;
}

#ed-2132430123 svg>* {
  stroke-width: 0px;
}

#ed-2132430123 svg {
  padding: 0px;
}

#ed-2132430126 {
  flex-grow: 1;
}

#ed-2132429973>.inner {
  justify-content: center;
}

#ed-2132430294>.inner {
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 975px) {
  #ed-2132430294>.inner {
    justify-content: flex-start;
  }
}

#ed-2132430327 {
  position: fixed;
  z-index: 2;
}
